$base-text-color: #181425;
$base-title-color: #181425;
$base-color-white: #181425;

$base-link-color: #181425;
$base-link-color-hover: #181425;

$base-form-text-color: #181425;
$base-form-placeholder-color: #181425;
$base-input-border-color: rgba(136, 136, 136,0.2);

$base-font-size: 18px;
$base-line-height: 1.4;
$base-font-family: 'TT Commons Regular', sans-serif;
$heading-font-family: 'TT Commons Regular', sans-serif;

$base-min-width: 320px;









